NEXT_PUBLIC_APPWRITE_PROJECT_ID=6a490aa3003a6a052c4f
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://agencia-appwrite.n2wanx.easypanel.host/v1
NEXT_PUBLIC_APPWRITE_PROJECT_NAME=Control instituto
APPWRITE_ENDPOINT=https://agencia-appwrite.n2wanx.easypanel.host/v1
APPWRITE_PROJECT_ID=6a490aa3003a6a052c4f
APPWRITE_PROJECT_NAME=Control instituto
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=main
APPWRITE_DATABASE_NAME=Control Instituto

BANECO_USERNAME=
BANECO_PASSWORD=
BANECO_AES_KEY=
BANECO_ACCOUNT_CREDIT=
BANECO_CREDENTIALS_SECRET=
